/* You can add global styles to this file, and also import other style files */
@import './core-scss/color-variables';
html, body {
    margin: 0;
    padding: 0;
    background-color: $sf-white-sand;
}