$sf-algae-green: #00c07f;
$sf-dark-grey: #393939;
$sf-light-grey: #eaeaea;
$sf-tiny-sweet-blue: #b5e9e9;
$sf-persian-blue: #00395a;
$sf-white-sand: #f4f4f4;
$sf-fennec-color: #ec4d37;
$sf-burnt-sienna: #ef5455;